*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* nav bar start  */
.container-fluid img{
    height: 6vh;
}

/* main start  */
.text{
    position: absolute;
    top: 15vh; left: 15vw;
    z-index: 2;
}
h5{
    font-size: 30px;
}
h2{
    font-size: 55px;
}
p{
    font-size: 25px;
}
.images{
    position: absolute;
    top: 8vh; left: 3vw;
    color: #fff;
    justify-content: center;
    text-align: center;
    z-index: 1;
}
.card{
    display: inline-flex;
    border-radius: 25px;
    margin: 25px;
    border: 2px solid lightgray;
    

}
h3{
    font-size: 40px;   
}

h4{
    font-size: 30px;
}
.image{
    position: absolute;
    top: 8vh; left: 10vw;
    color: #fff;
    justify-content: center;
    text-align: center;
    z-index: 1;
}
h1{
    margin-top: 15px;
    margin: 10px;
    justify-content: center;
    text-align: center;
}
main{
    justify-content: center;
    text-align: center;

}

#TVs{
    color: #fff;
}


/* footer  */
pre{
    margin-top: 10vh;
    justify-content: center;
    text-align: center;
}

@media screen and (max-width: 900px){
    
    /* home scroll bar   */
    .text{
        position: absolute;
        top: 10vh; left: 5vw;
        z-index: 1;
    }
    h5{
        font-size: 20px;
    }
    h2{
        font-size: 30px;
    }
    p{
        font-size: 15px;
    }
    
    /* Offer section  */
    .card{
        display: inline-flex;
        flex-direction: column;
        position: relative;
        top: 25px;
    }
}


